@import 'reset';
@import 'variables/colors';
@import 'variables/typography';
@import '@radix-ui/themes/styles.css';


.app {
  min-height: 100vh;
  background: var(--bg-primary);
}

.main_page {
  background-image: url('@images/main-page-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
